@import url(reset.css);
@import url(fonts.css);
@import url(global.css);

.navbar{
    background-color: var(--nav-bg-color);
    width: 100vw;
    height:55px;
    display: inline-flex;
    position: fixed;
    padding: 0  40px 0 12px;
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 10;


}
.navbar img{
    height: 27px;

}
.right{
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.btn{
    margin: 0 10px;
    color: var(--btn-link-bg-color);
    padding: 8px 26px;
    border-radius: 500px;
    background-color: var(--tertiary-color);
}
.btn:hover{
    background-color: #ffffff;
    color: var(--primary-color);
    transition: 1s;
}

.first_section{
    height: auto;
    margin-top: 55px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 5s alternate infinite;
}

.first_section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.title-lighter{
    text-transform: uppercase;
    display: block;
    font-weight: lighter;
    font-size: 2rem;
}
.title{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.first_section .content_logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.logo{
    object-fit: contain;
}

.divisor{
    max-width: 700px;
    width: 70%;
    height: 5px;
    background: var(--divider-bg-color);
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.offer_price{
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.offer_price-small {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
}

button{
    background: var(--btn-bg-color-gradient);
    background-position: left;
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-size: 250%;
    color: var(--text-color);
    cursor: pointer;
    padding: 16px 40px;
    font-size: 1rem;
    border-radius: 500px;
    letter-spacing: 4px;
    font-weight: 700;
    border: none;
    transition: 1s;
    
}

.subscribe_button{
    font-size: 0.75rem;
    transition: 1s;
}

.subscribe_button:hover{
    transform: scale(1.1);
}

button:hover{
    outline: 2px solid var(--secondary-color);
    background-size: 0%;
    background-repeat: no-repeat;

}
.wiggly-button{
    animation: wiggle 2s infinite;
}
.sbutitle-lighter{
    max-width: 300px;
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
}

.second_section{
    background: url(assets/background-movies-series.png);
    background-size: cover;
}

.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 24px;
}
.subscription-section{
    display: flex;
    margin: 40px 0;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;

}
.subscription_card{
    max-width: 536px;
    display: flex;
    background: var(--card-bg-color);
    flex-direction: column;
    min-height: 600px;
    padding: 40px 60px;
    border-radius: 8px;
    justify-content: space-between;
    transition: transform 1s ease-in-out;

}
.descripitin_offer{
    font-size: 1rem;
}

.subscription_plan{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 16px;
}

.subscription-section:has(.subscription_card:nth-child(1):hover)
  .subscription_card:nth-child(2) {
  transform: perspective(1000px) rotateY(-25deg);
}

.subscription-section:has(.subscription_card:nth-child(2):hover)
  .subscription_card:nth-child(1) {
  transform: perspective(1000px) rotateY(25deg);
}

.subscription_price{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
}

.third{
    align-content: center;
    text-align: center;
    margin: 100px auto;
    padding: 24px;
    max-width: 1200px;
}

.midia_container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
}

.midia_card{
    border-radius: 16px;
    border: 2px solid transparent;
    transition: 1s;
    background-size: cover;
    background-position: center;
}

.content_image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

.midia_card:hover{
    border: 2px solid var(--tertiary-color);
    transform: scale(1.05);
}

.midia_card .content_image:hover{
    opacity: 0;
}

.midia_card:nth-child(1):hover {
    background-image: url(assets/hbo-hover_0.webp);
}
.midia_card:nth-child(2):hover {
    background-image: url(assets/MAX-Hover.webp);
}
.midia_card:nth-child(3):hover {
    background-image: url(assets/DC-Hover.webp);
}
.midia_card:nth-child(4):hover {
    background-image: url(assets/WB-Hover.webp);
}
.midia_card:nth-child(5):hover {
    background-image: url(assets/CN-Hover.png);
}
.midia_card:nth-child(6):hover {
    background-image: url(assets/UCL-Hover.webp);
}

footer{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 24px;
    text-align: center;
    flex-wrap: wrap;
}

.links{
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.links a{
    color: var(--link-color);
    text-decoration: none;
    font-size: 0.875rem;
    transition: 1s;

}

.links a:hover{
    color: var(--text-color);
}

.copyright{
    font-size: 0.75rem;
    margin: 16px 0;
    color: var(--link-color);
    font-weight: lighter;
}

.social{
    margin-top: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40px;
}
.social .social_logo{
    object-fit: contain;
}

@media screen and (max-width: 480px) {
    .links {
        flex-direction: column;
        gap: 14px;
    }

    .navbar{
        flex-direction: column;
        padding: 32px 24px;
        height: auto;
        gap: 24px;
    }

    .navbar img{
        width: 100px;
    }
    .first_section{
        margin-top: 148px;
    }

    .subscription_card{
        padding: 40px;
    }
    .subscription_plan{
        flex-direction: column;
    }

    .subscription-section:has(.subscription_card:nth-child(1):hover)
  .subscription_card:nth-child(2) {
    transform: rotateY(0);
}

    .subscription-section:has(.subscription_card:nth-child(2):hover)
  .subscription_card:nth-child(1) {
    transform: rotateY(0);
}

    .midia_container{
    grid-template-columns: repeat(6, 100%);
    gap: 32px;
    overflow: auto hidden;
}

    .midia_card:hover{
    border: 2px solid var(--tertiary-color);
    transform: scale(1);
}

}